@model HomePageViewModel;

@* @{
    Layout = "_Layout2";
} *@

@section _jumbotron
{
    @await Html.PartialAsync("_jumbotron")

}

<h1>TURAN</h1>


<h1>Film Listesi</h1>
<div id="filmler">
    @foreach (var film in Model.PopularFilms)
    {
        @await Html.PartialAsync("_movie", film)
    }
      
</div>
    
