@model Movie;

@* @{
    Layout = "_Layout2";
} *@

@section _jumbotron
{
    @await Html.PartialAsync("_jumbotron")

}


<h1>Film Listesi</h1>
<div id="filmler">
            <div class="film">
            <p>@Model.Name</p>
            <p>@Model.Description</p>
            <p>@Model.Director</p>
            <p>
                <ul>
                    @foreach (var item in Model.Aktors)
                    {
                        <li>@item</li>
                    }
                </ul>
            </p>
            </div>

        </div>
    
